<div class="container">
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" class="auth-form">
    <h2 class="form-title">{{ isSignInMode ? 'Welcome Back' : 'Create Account'}}</h2>

    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" id="email" name="email" type="email" email required ngModel
        placeholder="Enter your email">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" id="password" name="password" type="password" required ngModel
        placeholder="Enter your password">
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <button class="btn btn-primary" type="submit">
      {{ isSignInMode ? 'Login' : 'Sign Up' }}
    </button>

    <div class="divider">
      <span class="divider-line"></span>
      <span class="divider-text">or</span>
      <span class="divider-line"></span>
    </div>

    <button class="btn btn-secondary" type="button" (click)="onSwitchMode()">
      {{ isSignInMode ? 'Create new account' : 'Already have an account?' }}
    </button>
  </form>
  <button *ngIf="isShowEmail" (click)="toggleDefaultEmail()" class="expand"><span
      class="material-symbols-outlined">expand_less</span></button>
  <button *ngIf="!isShowEmail" (click)="toggleDefaultEmail()" class="expand"><span
      class="material-symbols-outlined">expand_more</span></button>
  <div *ngIf="isShowEmail" class="text">
    <p>email: test@test.com</p>
    <p>password: 123456</p>
    <p>or sign up</p>
  </div>
</div>