<div class="container">
  <div class="header">
    <strong class="logo">Movies Guide</strong>
    <div>
      <input type="text" #searchBar class="search-bar" placeholder="search" (keyup.enter)="search()">
      <button type="button" class="search-btn" (click)="search()">search</button>
    </div>
  </div>
  <ul class="links">
    <li class=""><a href="/home">Home</a></li>
    <li class=""><a href="/watched">Watched</a></li>
    <li class=""><a href="/watchlist">Watchlist</a></li>
    <li class=""><a href="/favorites">Favorites</a></li>
  </ul>
  <!-- <hr> -->
</div>
