h5 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
}

.list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(115px, 115px));
  /* grid-template-columns: repeat(auto-fill, 115px); */
  gap: 32px;
}
:host ::ng-deep app-movie-card .movie-card {
  width: 115px;
}
:host ::ng-deep app-nav-menu .nav-menu {
  left: 0;
  background-color: red;
}
@media (max-width: 991px) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(70px, 74px));
  }
}
