<div class="nav-menu">
  <p>Movies Guide</p>
  <ul class="links">
    <li class="link"><a href="/home">Home</a></li>
    <li class="link"><a href="lists/watched">Watched</a></li>
    <li class="link"><a href="lists/watchlist">Watchlist</a></li>
    <li class="link"><a href="lists/favorites">Favorites</a></li>
  </ul>
  <div id="gnavi" class="nav" (click)="toggleNavBtn()">
    <div class="nav-btn">
          <span class="bars">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </span>
    </div>
</div>
</div>
