.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  border: 1px solid #b19a9a;
  height: 500px;
  width: 350px;
  padding: 40px;
  position: relative;
  top: 20px;
  border-radius: 15px;
  background-color: #1d232a;
}
input {
  background-color: #111418;
  border-color: #1d232a;
}
input:focus {
  background-color: #111418;
}
.btn {
  width: 100%;
  background-color: #111418;
  color: white;
  margin-top: 20px;
}
