ul {
  padding: 0;
}

.movie-section {
  display: flex;
  flex-direction: row;
}
:host ::ng-deep app-movie-card img {
  width: 120px !important;
}
.details .title {
  display: flex;
  align-items: center;
}
.details .title .name {
  font-size: 17px;
  margin: 0 10px 0px 30px
}
.details .title .year {
  color: #b0aba0;
}

.details .overview {
  margin: 30px;
  color: #b0aba0;

}


.pagination {
  margin: 10px 0px 20px 0px;
}
.pagination > button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: white;
  border: 1px solid #1d232a;
  padding: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.pagination > button:disabled {
  color: #213836;
}
