<div class="container">
  <div class="pagination">
    <button id="pervPageBtn"  (click)="pervPage()" [disabled]="(PageNum == 1)">&lt;</button>
    <button id="pageOneBtn" (click)="PageOne()" [ngStyle]="{'backgroundColor': PageNum == 1 ? '#1d232a' : 'transparent'}">1</button>
    <button id="pageTwoBtn"  (click)="PageTwo()" [ngStyle]="{'backgroundColor': PageNum == 2 ? '#1d232a' : 'transparent'}">2</button>
    <button id="pageThreeBtn"  (click)="PageThree()" [ngStyle]="{'backgroundColor': PageNum == 3 ? '#1d232a' : 'transparent'}">3</button>
    <button id="pageFourBtn"  (click)="PageFour()" [ngStyle]="{'backgroundColor': PageNum == 4 ? '#1d232a' : 'transparent'}">4</button>
    <button id="nextPageBtn"  (click)="nextPage()" [disabled]="(PageNum == 4)">&gt;</button>
  </div>
  <p>results for "{{ searchParam['searchMovie'] }}"</p>
  <hr>
  <ul>
    <li *ngFor="let searchMovie of searchMovies">
      <div class="movie-section">
        <app-movie-card
        [movie]="searchMovie"
        [watchedButton]="true"
        [watchlistButton]="true"
        [favoriteButton]="true"
        [watchedStatus]="watchedIds && watchedIds.includes(searchMovie.id) ? true : false"
        [favoriteStatus]="favoriteIds && favoriteIds.includes(searchMovie.id) ? true : false"
        [watchlistStatus]="watchlistIds && watchlistIds.includes(searchMovie.id) ? true : false"
        ></app-movie-card>
        <div class="details">
          <div class="title">
            <div class="name">{{ searchMovie.name }}</div>
            <div class="year">{{ searchMovie.year }}</div>
          </div>
          <p class="overview">{{ searchMovie.overview }}</p>
          <!-- <p>directed by: </p> -->
        </div>
      </div>
      <hr>
    </li>
  </ul>
  <div class="pagination">
    <button id="pervPageBtn"  (click)="pervPage()" [disabled]="(PageNum == 1)">&lt;</button>
    <button id="pageOneBtn" (click)="PageOne()" [ngStyle]="{'backgroundColor': PageNum == 1 ? '#1d232a' : 'transparent'}">1</button>
    <button id="pageTwoBtn"  (click)="PageTwo()" [ngStyle]="{'backgroundColor': PageNum == 2 ? '#1d232a' : 'transparent'}">2</button>
    <button id="pageThreeBtn"  (click)="PageThree()" [ngStyle]="{'backgroundColor': PageNum == 3 ? '#1d232a' : 'transparent'}">3</button>
    <button id="pageFourBtn"  (click)="PageFour()" [ngStyle]="{'backgroundColor': PageNum == 4 ? '#1d232a' : 'transparent'}">4</button>
    <button id="nextPageBtn"  (click)="nextPage()" [disabled]="(PageNum == 4)">&gt;</button>
  </div>
</div>
<app-loading></app-loading>
