<p>movie-details-page works!</p>
<div class="container">
  <img class="backdrop" [src]="movieInfo.backdrop_path" alt="image">
  <div class="movie-info">
    <img class="poster" [src]="movieInfo.poster_path" alt="image">
    <div class="description">
      <h4>{{ MovieName }}</h4>
      <p><strong>{{ movieInfo.tagline }}</strong></p>
      <p class="overview">{{ movieInfo.overview }}</p>
      <p>Rate: {{ movieInfo.vote_average }}</p>
      <p>release: {{ movieInfo.release_date }}m</p>
      <p>Time: {{ movieInfo.runtime }}m</p>
      <div class="cast">

      </div>
      <div class="genres">
        <p>GENRES</p>
        <p *ngFor="let genre of movieInfo.genres">
          {{ genre.name }}
        </p>
      </div>
      <a class="trailer-link" [href]="fullTrailerLink" target="_blank">Trailer</a>
      <div class="cast">

      </div>
    </div>
  </div>
</div>
<!-- <div *ngFor="let movieImage of movieImages">
  <img class="poster" [src]="movieImage.file_path" alt="image">
</div> -->
