.container {
  position: relative;
}
.backdrop {
  position: absolute;
  width: 100%;
  top: -122px;
  z-index: -10;
}
.movie-info {
  position: absolute;
  display: flex;
  z-index: 10;
  /* top: 471px; */
  top: 300px;
}
.poster {
  width: 230;
  margin: 0 50px 0 0;
}
.description {
  display: flex;
  flex-direction: column;
}
.genres {
  display: flex;
  gap: 15px;
}
.trailer-link {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
}
