.page-holder {
  position: relative;
  width: 100vw;
  /* height: 85vh; */
  top: 0;
  display: flex;
  left: 0px;
  justify-content: space-around;
  transition: 0.5s;
}

.nav-menu {
  position: absolute;
  left: 0px;
  width: -moz-fit-content;
  width: fit-content;
  height: 117%;
  top: -150px;
  transition: 0.5s;
}

.holder {
  position: absolute;
  flex-basis: 60%;
  justify-content: center;
  /* left: 230px; */
}
@media (max-width: 767px) {
  .page-holder {
    top: 50px;
  }
}
/* Footer */
.site-footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.site-footer h3 {
  color: #fff;
}

.site-footer p {
  color: #ccc;
}

.site-footer ul {
  list-style: none;
  padding: 0;
}

.site-footer ul li {
  margin-bottom: 10px;
}

.site-footer ul li a {
  color: #ccc;
  text-decoration: none;
}

.site-footer ul li a:hover {
  color: #fff;
}

.social-icons {
  list-style: none;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons li a {
  color: #ccc;
  text-decoration: none;
  font-size: 20px;
}

.social-icons li a:hover {
  color: #fff;
}
