.page-holder {
  position: relative;
  width: 100vw;
  height: 85vh;
  top: 0;
  display: flex;
  left: 0px;
  justify-content: space-around;
  transition: 0.5s;
}

.nav-menu {
  position: absolute;
  left: 0px;
  width: -moz-fit-content;
  width: fit-content;
  height: 117%;
  top: -150px;
  transition: 0.5s;
}

.holder {
  position: absolute;
  flex-basis: 60%;
  justify-content: center;
  /* left: 230px; */

}
