<app-header></app-header>
<div class="page-holder">
  <!-- <app-nav-menu class="nav-menu" (menuStatus)="getMenuStatus($event)"></app-nav-menu> -->
  <app-nav-menu (menuStatus)="getMenuStatus($event)"></app-nav-menu>
  <div class="holder container">
    <div class="row">
      <div class=" col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer style="position: relative;"></app-footer> -->
<!-- <footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>About Us</h3>
        <p>Your ultimate destination for movie recommendations, reviews, and everything cinema.</p>
      </div>
      <div class="col-md-4">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Movies</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Connect with Us</h3>
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer> -->