/* .swiper {
  width: 600px;
  height: 300px;
} */

swiper-container {
  width: 660px;
  padding: 20px;
}
/* swiper-slide  app-movie-card{
  max-width: 120px;
} */
swiper-slide img {
  width: 100%;
}
:host ::ng-deep app-movie-card .movie-card {
  /* in silder only */
  width: 120px !important;
}
:host ::ng-deep app-movie-card {
  /* in silder only */
  width: 120px!important;
}
swiper-container swiper-slide:first-child {
  margin-left: 15px !important;
}


