<!-- navigation ="true" -->
<swiper-container
[navigation]="{
  prevEl: 'prev-btn',
  nextEl: 'next-btn'
}"
 pagination = "true"
 [slidesPerView]= "4"
 [slidesPerGroup]= "4"
 speed="1000"
 >
 <!-- [spaceBetween]="25" -->
  <swiper-slide  *ngFor="let movie of SliderMovies">
    <app-movie-card
    [movie]="movie"
    [watchedButton]="true"
    [watchlistButton]="true"
    [favoriteButton]="true"
    (mouseenter)="showImage($event)"
    (mouseleave)="onMouseLeave()"
    ></app-movie-card>
  </swiper-slide>
  <div class="prev-btn" prevEl></div>
  <div class="next-btn" nextEl></div>
</swiper-container>
