
.landing {
  position: relative;
  width: 100%;
  min-height: 696px;
  top: -80px;
  z-index: -10;
}

.landing .backdrop {
  background-image: url("https://wallpapers.com/images/hd/mysterious-officer-k-blade-runner-2049-4k-ugzq0o6fnr4xsfnw.jpg");
  width: 100%;
  height: 100%;
  transition: 1s;
  position: absolute;
  background-size: cover;
}

.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  /* background-color: #22282f; */
  /* MASK */
  background-image: linear-gradient(90deg, rgb(17, 20, 24) 0px, rgba(17, 20, 24, 0.98) 0.97%, rgba(17, 20, 24, 0.94) 2.07833%, rgba(17, 20, 24, 0.88) 3.29667%, rgba(17, 20, 24, 0.8) 4.60167%, rgba(17, 20, 24, 0.71) 5.96667%, rgba(17, 20, 24, 0.61) 7.365%, rgba(17, 20, 24, 0.51) 8.77167%, rgba(17, 20, 24, 0.4) 10.16%, rgba(17, 20, 24, 0.29) 11.505%, rgba(17, 20, 24, 0.2) 12.78%, rgba(17, 20, 24, 0.12) 13.9583%, rgba(17, 20, 24, 0.06) 15.0167%, rgba(17, 20, 24, 0.02) 15.9283%, rgba(17, 20, 24, 0) 16.6667%, rgba(17, 20, 24, 0) 83.3333%, rgba(17, 20, 24, 0.02) 84.0717%, rgba(17, 20, 24, 0.06) 84.9833%, rgba(17, 20, 24, 0.12) 86.0417%, rgba(17, 20, 24, 0.2) 87.22%, rgba(17, 20, 24, 0.29) 88.495%, rgba(17, 20, 24, 0.4) 89.84%, rgba(17, 20, 24, 0.51) 91.2283%, rgba(17, 20, 24, 0.61) 92.635%, rgba(17, 20, 24, 0.71) 94.0333%, rgba(17, 20, 24, 0.8) 95.3983%, rgba(17, 20, 24, 0.88) 96.7033%, rgba(17, 20, 24, 0.94) 97.9217%, rgba(17, 20, 24, 0.98) 99.03%, rgb(17, 20, 24)), linear-gradient(0deg, rgb(17, 20, 24) 0px, rgb(17, 20, 24) 21.4815%, rgba(17, 20, 24, 0.98) 23.637%, rgba(17, 20, 24, 0.94) 26.1%, rgba(17, 20, 24, 0.88) 28.8074%, rgba(17, 20, 24, 0.8) 31.7074%, rgba(17, 20, 24, 0.71) 34.7407%, rgba(17, 20, 24, 0.61) 37.8481%, rgba(17, 20, 24, 0.51) 40.9741%, rgba(17, 20, 24, 0.4) 44.0593%, rgba(17, 20, 24, 0.29) 47.0481%, rgba(17, 20, 24, 0.2) 49.8815%, rgba(17, 20, 24, 0.12) 52.5%, rgba(17, 20, 24, 0.06) 54.8519%, rgba(17, 20, 24, 0.02) 56.8778%, rgba(17, 20, 24, 0) 58.5185%);
}




.list {
  display: grid;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 150px)); */
  grid-template-columns: repeat(auto-fill, minmax(120px, 120px));
  gap: 32px;

}


ul {
  list-style: none;
}

.page-holder {
  top: -400px;
  position: relative;
}

.slider {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.slider .trending {
  gap: 30px;
}

:host ::ng-deep .slider app-movie-card .movie-card {
  /* in silder only */
  width: 150px;
}
.slider i {
  position: absolute;
  font-size: 26px;
  top: 50%;
  transform: translate(0 ,-50%);
  z-index: 99;
  cursor: pointer;
}
@media (max-width: 1400px) {
  .slider i {
    top: 93%;
  }
}
/* // @media (min-width: 768px) */
.slider i.left {
  left: 12%;
}
.slider i.right {
  right: 12%;
}
.slider i:hover {
  color: #5c6179;
}
/* Responsive ######needed */
.slider-holder {
  margin: 50px 0 50px 0;
  width: 900px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translate(-50% ,0);
  padding-top: 5px;
}
.slider-movies {
  display: flex;
  position: relative;
  /* left: -910px; */
  align-content: center;
  transition: 1s;
  left: 15px;
  margin: 0px;
  padding: 0px;
}
/* left: -55.2rem; */
.slider-movie .movie-card{
  width: 150px;
}
