.list {
  display: grid;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 150px)); */
  grid-template-columns: repeat(auto-fill, minmax(120px, 120px));
  gap: 32px;

}


ul {
  list-style: none;
}


.slider {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.slider .trending {
  gap: 30px;
}

:host ::ng-deep .slider app-movie-card .movie-card {
  /* in silder only */
  width: 150px;
}
.slider i {
  position: absolute;
  font-size: 26px;
  top: 50%;
  transform: translate(0 ,-50%);
  z-index: 99;
  cursor: pointer;
}
.slider i.left {
  left: 12%;
}
.slider i.right {
  right: 12%;
}
.slider i:hover {
  color: #5c6179;
}
/* Responsive ######needed */
.slider-holder {
  margin: 50px 0 50px 0;
  width: 900px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translate(-50% ,0);
  padding-top: 5px;
}
.slider-movies {
  display: flex;
  position: relative;
  /* left: -910px; */
  align-content: center;
  transition: 1s;
  left: 15px;
  margin: 0px;
  padding: 0px;
}
/* left: -55.2rem; */
.slider-movie .movie-card{
  width: 150px;
}
