.list {
  display: grid;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 150px)); */
  grid-template-columns: repeat(auto-fill, minmax(120px, 120px));
  gap: 32px;

}


ul {
  list-style: none;
}


.slider {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.slider .trending {
  gap: 30px;
}

:host ::ng-deep .slider app-movie-card .movie-card {
  /* in silder only */
  width: 150px;
}

.slider .nav {
  position: relative;
  width: 100%;
  height: 350px;
}
.slider button.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0 ,-50%);
}
.slider button.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0 ,-50%);
}
.slider-holder {
  margin: 50px 0 50px 0;
  width: 920px;
  background-color: transparent;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50% ,0);
  padding-top: 5px;
}
.slider-movies {
  display: flex;
  position: relative;
  /* left: -910px; */
  align-content: center;
  transition: 1s;
}

.slider-movie .movie-card{
  width: 150px;
}
