.list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
  gap: 32px;
}
.poster {
  width: 150px;
  height: 190px;
}
ul {
  background-color: rgba(3, 4, 20, 0.61);
  list-style: none;
  display: flex;
  position: relative;
  bottom: 20px;
  gap: 5px;

}
.movie-card {
  cursor: pointer;
  position: relative;
  width: 150px;
  height: 190px;
}
@media (max-width: 991px) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(70px, 74px));
  }
}
